<form id="form" method="POST">
  <div>
    <label for="name_project">Nome do Projeto</label>
    <input id="name_project" name="name_project" placeholder="Project Name" required />
  </div>
  <div>
    <label for="description">Descrição</label>
    <input id="description" name="description" placeholder="Description" required />
  </div>
  <div>
    <label for="link">Link</label>
    <input id="link" name="link" placeholder="Link" required />
  </div>
  <div>
    <label for="linkedin">LinkedIn</label>
    <input id="linkedin" name="linkedin" placeholder="LinkedIn" />
  </div>
  <button type="submit">Salvar</button>
</form>
