<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='adminstyle.css') }}">
    <title>Document</title>
</head>
<body>
    <form id="form" method="POST">
       <label for=""><input name="name_project" placeholder="Project Name"></label>
       <label for=""><input name="description" placeholder="Description"></label>
       <label for=""><input name="link" placeholder="Link" ></label>
       <label for=""><input name="linkedin" placeholder="linkedin" ></label>
       <button type="submit">Salvar</button>
    </form>
    
</body>
</html>